<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Shopping List</title>
    <link rel="stylesheet" href="/styles/index_styles.css">
</head>
<body>
    <nav>
        <input type="checkbox" id="sidebar-active">

        <div class="category-sidebar">
            <div class="category-container">
                <h2>Categories</h2>
                <ul class="category-list">
                    <!-- Categories will be added dynamically -->
                </ul>
            </div>
        </div>

        
        <label for="sidebar-active" class="open-sidebar-button">
            <svg xmlns="http://www.w3.org/2000/svg" height="32" viewBox="0 -960 960 960" width="32" fill="#e8eaed"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg>
        </label>
        <label for="sidebar-active" class="close-sidebar-button">
            <svg xmlns="http://www.w3.org/2000/svg" height="32" viewBox="0 -960 960 960" width="32" fill="#e8eaed"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
        </label>
        
        <div class="links-container"> 
            <a class="home-link" href="#">Home</a>
            <a class="about-link" href="#">About</a>
            <a class="login-link" id="login-link" href="login.html">Login</a>
            <button class="logout-button" id="logout-button">Logout</button>
        </div>
    </nav>

    <input type="checkbox" id="items-sidebar-active">
    <div class="items-sidebar">
        <div class="items-container">
            <h2>Items</h2>
            <ul class="category-items-list">

            </ul>
        </div>
    </div>

    <main>
        <div class="shopping-list-container">
            <h2>My Shopping List:</h2>
            <ul class="shopping-list-items"></ul>
            <button id="create-list-button">Create Shopping List</button>
        </div>
    </main>
    
    <script src="/scripts/script.js"></script>
</body>

</html>
