@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Added for consistent padding/margin behavior */
}

html {
    font-size: 12pt;
    font-family: 'Poppins', 'Segoe UI', Tahoma, sans-serif;
}


nav {
    height: 60px;
    background: linear-gradient(#41efd1, #00cbb4);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1001;
    position: relative;
}

.links-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav a, nav button{
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    cursor: pointer;
    background: none;
    border: none;
}

nav a:hover, nav button:hover {
    background-color: #fced6b;
}

#logout-button {
    font-size: medium;
}

nav .home-link {
    margin-right: auto;
    margin-left: 60px;
}

nav svg {
    fill: black;
}

.intro {
    text-align: left;
    margin-top: 70px;
    background: linear-gradient(#41efd1, #00cbb4, #fced6b);
    display: inline-block;
    padding: 20px;
    border-radius: 30px
}

/* Sidebar Styles */
.category-sidebar {
    position: fixed;
    left: 0;
    top: 60px;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: white;
    transform: translateX(-100%); /* Sidebar hidden by default */
    transition: transform 0.75s ease; /* Smooth transition */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1001;
}

#sidebar-active:checked ~ .category-sidebar {
    transform: translateX(0); /* Sidebar slides in when active */
}

#sidebar-active{
    display: none;
}

/* Toggle button styles */
.open-sidebar-button, .close-sidebar-button {
    position: absolute;
    top: 15px;
    left: 15px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 1001;
    transition: transform 0.3s ease; /* Smooth icon transitions */
}

/* Ensure that the close button is hidden initially */
.close-sidebar-button, .close-items-sidebar-button {
    display: none;
}

#sidebar-active:checked ~ .open-sidebar-button {
    display: none; /* Hide open button when sidebar is active */
}

#sidebar-active:checked ~ .close-sidebar-button{
    display: block; /* Show close button when sidebar is active */
}

.category-sidebar, .items-sidebar {
    overflow-y: auto;
}

.category-sidebar .category-container{
    text-align: center;
    line-height: 2;
}

.category-container h2{
    margin-top: 20px;
    margin-bottom: 20px;
}

.category-list li {
    font-size: 19px ;
}

.category-list li:hover {
    text-decoration: underline;
    color: #fced6b;
    cursor: pointer;
}

.items-sidebar {
    position: fixed;
    top: 60px;
    width: 250px;
    height: auto;
    background-color: #333;
    color: white;
    transform: translateX(-100%); /* Sidebar hidden by default */
    transition: transform 0.75s ease; /* Smooth transition */
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    left: 0;
    overflow-y: auto;
    max-height: calc(100% - 60px);
}
.category-items-list {
    text-align: center;
    line-height: 2;
    font-size: 19px;
}

.category-items-list li:hover {
    text-decoration: underline;
    color: #fced6b;
    cursor: pointer;
}

.items-container h2{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#items-sidebar-active:checked ~ .items-sidebar {
    transform: translateX(0);
    left: 15rem;
}

#items-sidebar-active {
    display: none;
}

#shopping-list-container {
    background-color: #f6f5f4;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px auto;
    height: 45%;
    width: 45%;
    margin-top: 10rem;
}

#shopping-list-container h2 {
    margin-bottom: 30px;
    text-decoration: underline;
}

.shopping-list-items {
    margin-bottom: 40px;
}

.shopping-list-items li {
    font-size: 20px;
}

.shopping-list-items li:hover {
    color: #00cbb4;
    cursor: pointer;
    text-decoration: underline;
}

.hidden {
    display: none;
}

#create-list-button {
    display: block;
    padding: 20px;
    background-color: #00cbb4;
    color: black;
    text-decoration: none;
    border-radius: 100px;
    cursor: pointer;
    margin: 10px auto;
    border: none;
    font-size: 20px;
}

#create-list-button:hover {
    transform: scale(1.10);
    background-color: #fced6b;
}

#shopping-list-checkbox {
    margin-left: 15px;

}


#delete-list-button {
    display: block;
    padding: 20px;
    background-color: #e6596b;
    color: black;
    text-decoration: none;
    border-radius: 100px;
    cursor: pointer;
    margin: 10px auto;
    border: none;
    font-size: 20px;
}

#delete-list-button:hover {
    transform: scale(1.10);
    background-color: #555;
}

#selected-items-sidebar {
    position: fixed;
    top: 60px;
    width: 250px;
    height: auto;
    background-color: #333;
    color: white;
    transform: translateX(100%); /* Sidebar hidden by default */
    transition: transform 0.75s ease; /* Smooth transition */
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1;
    left: 15.1rem;
    overflow-y: auto;
    max-height: calc(100% - 60px);
    text-align: center;
}


#selected-items-sidebar.active {
    transform: translateX(0);
}

#selected-items-sidebar h2{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.selected-items-list li {
    font-size: 20px;
}

.selected-items-list li:hover {
    color: #00cbb4;
    text-decoration: underline;
}

#submit-items-button {
    display: block;
    padding: 20px;
    background-color: #00cbb4;
    color: black;
    text-decoration: none;
    border-radius: 100px;
    cursor: pointer;
    margin: 10px auto;
    margin-top: 30px;
    border: none;
    font-size: 20px;
}

#submit-items-button:hover {
    transform: scale(1.10);
    background-color: #fced6b;
}


